html {
  font-size: 10px;
}

body {
  background: #F0F0F0;
  // background: $purple;
  // background:#efefef;
  // &:before {
  //   content: '';
  //   display: block;
  //   background: $grad;
  //   height: 10px;
  //   width: 100%;
  // }
}

.inner {
  max-width: 1364px;
  margin: 0 auto;
  padding: 0px 50px;

  h2 {
    // margin-left: 50px;
  }

  @media all and (max-width: 1364px) {
    padding: 2rem;
  }
}
